        html {
            height: 100%;
            width: 100%;
        }

        a:link,
        a:visited {
            /*comma means or */
            color: #0a2a4a;
            text-decoration: none;
        }

        a {
            margin: 5px;
        }

        .dark .dropdown-menu {
            background-color: #212529;
        }

        .dark .dropdown-item:hover {
            background-color: #5b5b5b;
        }

        .dark a:link,
        /*Space means child*/
        .dark a:visited {
            color: #ffffff;
            text-decoration: none;
        }

        .dark {
            background-color: #2f2f2f;

        }

        body {
            background-color: #dedddd;
            padding: 0px;
            margin: 0;
            height: 100%;
            user-select: none;
        }

        .content-centred {
            display: flex;
            /* Enable Flexbox */
            flex-direction: column;
            /* Stack elements vertically */
            justify-content: center;
            /* Center elements vertically */
            align-items: center;
            /* Center elements horizontally */
            height: calc(100vh - 60px);
            /* Set height to fill the viewport */
            position: relative;
            max-width: 90%;
            /* Set relative positioning for the body */
        }

        .dark h1 {
            color: rgb(207, 203, 203);
        }

        .dark h2 {
            color: white;
        }

        .dark p {
            color: white;
        }

        .light-icon {
            display: none;
        }

        .dark .light-icon {
            display: inline-block;
        }

        .dark .light-icon.hidden {
            display: none;
        }

        .dark .dark-icon {
            display: none;
        }

        h1 {
            color: #0a2a4a;
            font-family: Roboto;
            font-size: min(10vw, 100px);
        }

        .bold {
            font-weight: 1000;
        }

        .center {
            text-align: center;
        }

        .breakWords{
            word-wrap: break-word;
            word-break: break-all;
        }

        .centerElement {
            width: 50%;
            display: block;
        }

        h2 {
            margin: 5px;
            color: #193450;
            font-family: Roboto;
            font-size: 20px;
            /* Set font size to 20px */
        }

        .bottom-text {

            /* Place it 20px from the bottom of the viewport */
            text-align: center;
            /* Center the text */
            font-size: 20px;
            /* Ensure the font size is 20px */
        }

        #videoElement {
            margin-top: 20px;
            width: 500px;
            max-width: 95%;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            background-color: #0a2a4a;
        }

        h3 {
            font-size: 10px;
        }

        .btn {
            max-width: 200px;
            color: white;
        }

        .btn-secondary {
            /*comma means or */
            color: #ffffff !important;
            /* Override Bootstrap's default color - don't use normally*/
            text-decoration: none;
        }

        .form-check {
            margin: 10px;
        }

        .hidden {
            display: none;
        }

        .camera {
            width: 30px;
            height: 30px;
        }

        .icon {
            height: 20px;
            width: 20px;
            margin: 10px;
        }

        .title{
            padding: 5px;
        }