{% extends "base.html" %}

{% block title %}BSL Words{% endblock %}

{% block content %}
<h1 class="bold center" id="wordprompt">{{ chosenword }}</h1>

<a href="" class="btn btn-secondary centerElement" id="newword">New Word</a>
<a href="" class="btn btn-secondary centerElement" id="timedwords">Timed Words</a>

<div>
    <video autoplay="true" id="videoElement">

    </video>
</div>
<script>
    const video = document.querySelector("#videoElement");
    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (error) {
                console.log("Something went wrong!");
            });
    } else {
        console.log("getUserMedia not supported");
    }

    const newWordButton = document.querySelector("#newword");
    newWordButton.addEventListener("click", getWord)

    function getWord() {

        //event.preventDefault(); // Prevent the default action of the link

        const apiUrl = "/api/random/{{ requested }}";
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                const newWord = data.chosenword;
                const wordPrompt = document.getElementById("wordprompt");
                wordPrompt.textContent = newWord;

                //Update the link to the new word
                //First get the link element by its ID
                //Then set the href attribute to the new word
                const newWordLink = document.getElementById("link");
                newWordLink.href = `https://www.signbsl.com/sign/${newWord}`;
            })
            .catch(error => console.error('Error fetching new word:', error));
    }


    //Create function to hide or deactivate the new word button
    //Create a script which when Timed Words button is pressed the new word button is hidden
    const timedWordButton = document.querySelector("#timedwords");
    timedWordButton.addEventListener("click", TimedWordsOnClick); //example of calling a function

    let timerId;//holds the timer ID when timer is running or null is not running

    function TimedWordsOnClick(event) {
        //prevents the code following the link from executing
        event.preventDefault();

        //Find then Hide the new word button
        const newButton = document.querySelector("#newword");
        if (newButton) {
            newButton.classList.toggle("hidden");
        }

        //start timer
        if (timerId) {
            clearInterval(timerId); // Clear any existing timer
            timerId = null; // Reset timerId
            console.log("Timer stopped!")
        } else {
            console.log("Timer started!")
            onTimer(); // Call immediately to get the first word

            timerId = setInterval(onTimer, 7000); // 7 seconds interval
        }
    }

    function onTimer() {
        console.log("Timer is up!")
        getWord()
        console.log("New word fetched!")
    }

    //Create a script that automatically gets new word and updates every 5 seconds
    //If Timed Words this is deactivated and New words is shown again

</script>



<div class="bottom-text">
    <h2>Not sure if you're right: </h2>
    <a id="link" href="https://www.signbsl.com/sign/{{ chosenword }}">Check Here</a>
</div>

{% endblock %}